<!DOCTYPE html>
<html lang='en'>
<head>
 <meta charset='utf-8'>
 <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

 <!-- Bootstrap CSS -->
 <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
 <link rel="stylesheet" href="/styles.css" type="text/css">
 <title>TinyApp</title>
</head>
<body style='font-size:20px; padding:50px;'>
   <% include ./partials/_header %>

   <h2><a href='urls/new/'>Add a new URL</a></h2>
   <ul>
   <% for (let url in urls) { %>
       <li class="flex"><%= url %> - <a href= <%=  urls[url].longURL  %>> <%= urls[url].longURL %> </a>
         <form method="POST" action="/urls/<%= url %>/delete">
           <div class="form-group mx-2">
             <button type="submit" class="btn btn-primary">Delete</button>
         </form>
         </div>
         <form method="GET" action="/urls/<%= url %>">
           <div class="form-group mx-2">
             <button type="submit" class="btn btn-primary">Edit</button>
           </div>
         </form>
       </li>
   <% }; %>
   </ul>


</body>
</html>