   <h1>
     <% include ./partials/_header %>
   </h1>

   <h2><a href='urls/new/'>Add New Tiny URL</a></h2>
   <ul>
   <% for (let url in urls) { %>
       <li style="display: flex;"><%= url %> - <a href= <%=  urls[url]  %>> <%= urls[url] %> </a>
         <form method="POST" action="/urls/<%= url %>/delete">
           <div class="form-group mb-2">
             <button type="submit" class="btn btn-primary">Delete</button>
         </form>
         </div>
         <form method="GET" action="/urls/<%= url %>">
           <div class="form-group mb-2">
             <button type="submit" class="btn btn-primary">edit</button>
           </div>
         </form>
       </li>
   <% }; %>
   </ul>


</body>
</html>